@model LTERPWebMVC.Areas.System.Data.sysRoleModel

@{
    ViewBag.Title = "Add";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>
        @if (ViewBag.isUpdate != null && ViewBag.isUpdate)
        {
            @Html.HiddenFor(model => model.guid)
            @Html.HiddenFor(model => model.OldRowVersion)
        }

        <div class="form-group form-border">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">  <span class="necessary">*</span> @Html.LabelFor(model => model.rolename)</label>
            <div class="col-sm-9">
                @Html.EditorFor(model => model.rolename)
                @Html.ValidationMessageFor(model => model.rolename)
            </div>
            <div class="clear"></div>
        </div>

        @*<div class="form-group form-border">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">    @Html.LabelFor(model => model.permissiontext)</label>
            <div class="col-sm-9">
                @Html.EditorFor(model => model.permissiontext)
                @Html.ValidationMessageFor(model => model.permissiontext)
            </div>
            <div class="clear"></div>
        </div>*@

        <div class="form-group form-border">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">     @Html.LabelFor(model => model.active)</label>
            <div class="col-sm-9">
                @Html.EditorFor(model => model.active)
                @Html.ValidationMessageFor(model => model.active)
            </div>
            <div class="clear"></div>
        </div>
        <div class="form-group form-border">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">     @Html.LabelFor(model => model.remark)</label>
            <div class="col-sm-9">
                @Html.EditorFor(model => model.remark)
                @Html.ValidationMessageFor(model => model.remark)
            </div>
            <div class="clear"></div>
        </div> 
        <p>
            <button class="btn btn-sm btn-info" type="submit">
                <i class="ace-icon fa fa-check bigger-110"></i>
                @ViewBag.SubmitText
            </button> 
        </p>
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
