@using LTWMSWebMVC.App_Start.WebMvCEx;
@model LTWMSWebMVC.Areas.Bills.Data.StockOutDetailSearch

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ViewList";
}
@section scripts{
    <script type="text/javascript">
        var speech = new LT_Speech();
        $(function () {
            //  zealan_d([".ico_add", ".ico_edit"]);
            speech.speek("查询成功");
        }); 
    </script>
}
<section class="btn_div">
    <a href="@Url.Action("Index")" class="icos ico_back">返回列表</a>
    <a href="@Url.Action("DetailAdd")/?billstk_guid=@Model.billstockout_guid" data-dialog-title="添加出库明细" class="icos ico_add">添加出库明细</a>
    <a href="#" class="icos ico_refresh">刷新</a>
</section>
<section class="btn_div btn_div2">
    <a href="@Url.Action("DetailUpdate")/{0}" data-dialog-title="编辑出库明细" class="icos ico_edit needsele">编辑</a>
    <a href="@Url.Action("DispatchTrayIndex")/?billstockout_detail_guid={0}&billstkout_guid=@Model.billstockout_guid" class="icos ico_save needsele" data-dialog-title="分配托盘出库" data-dialog-width="800">分配托盘出库</a>
    <a href="@Url.Action("DetailDeletePost")/{0}" data-ltext-ajax-delete="true" data-ajax-confirm="确认删除？" class="icos ico_dele needsele">删除</a>
</section>
<section class="searchbg">
    @using (Html.BeginForm("DetailIndex", "StockOut", FormMethod.Post, new { name = "paging_search_form" }))
    {
        <div>
            @Html.HiddenFor(model => model.billstockout_guid)
            @Html.LabelFor(a => a.s_keywords)：@Html.TextBoxFor(a => a.s_keywords, new { @class = "ac_input", placeholder = "请输入" + Html.DisplayNameFor(a => a.s_keywords) })
            <input type="submit" value="搜索" />
        </div>
    }
</section>
<section id="LTContent">
    @Html.Partial("DetailViewList", Model.PageCont)
</section>
@Html.Partial("Paging", @Model.Paging)
